.subtotal{
    margin-top: 10px;
}

.subtotal_area{
    padding: 10px;
    border: 2px dashed purple;
    background-color: rgb(221, 221, 222);
}

.subtotal .subtotal_area  button{
    background-color: orange;
    border: 1px solid gray;
}

.border{
    color: 2px dashed Red;
}


